<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project II</title>
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">

    <div class="row">
      <div class="col l6">
        <table class="responsive-table striped">
          <thead>
            <tr>
              <th> <input type="text" placeholder="Name" id='Restaurant'></th>
              <th> <input type="text" placeholder="City" id='City'></th>
              <th> <input type="text" placeholder="State" id='State'></th>
              <th></th>
              <th></th>
              <th> <button class="btn-small wave-effect">Reset</button> </th>
            </tr>
            <tr>
              <th>Restaurant</th>
              <th>City</th>
              <th>State</th>
              <th>Meals Served</th>
              <th>Sales</th>
              <th>Average Check</th>
            </tr>
          </thead>
  
          <tbody>
          </tbody>
        </table>
      </div>
      
      <div class="col l6">
        <span id="check" style='width: 100%;height: 25vh;'></span>
        <span id="sales" style='width: 50%;height: 25vh;'></span>
        <span id="meals" style='width: 50%;height: 25vh;'></span>

      </div>
    </div>
  </div>






  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="static/app.js"></script>
</body>

</html>